interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/marketplaces?limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"errors\": [\n    {\n      \"status\":
        \"Unauthorized\",\n      \"category_code\": \"authentication-required\",\n
        \     \"description\": \"<p>The server could not verify that you are authorized
        to access the URL requested.  You either supplied the wrong credentials (e.g.
        a bad password), or your browser doesn't understand how to supply the credentials
        required.</p><p>In case you are allowed to request the document, please check
        your user-id and password and try again.</p> Your request id is OHM32d2d300505011e4892e0230f00c9248.\",\n
        \     \"status_code\": 401,\n      \"category_type\": \"permission\",\n      \"request_id\":
        \"OHM32d2d300505011e4892e0230f00c9248\"\n    }\n  ]\n}"}
    headers:
      content-type: [application/json]
      www-authenticate: ['Basic realm="<p>The server could not verify that you are
          authorized to access the URL requested.  You either supplied the wrong credentials
          (e.g. a bad password), or your browser doesn''t understand how to supply
          the credentials required.</p><p>In case you are allowed to request the document,
          please check your user-id and password and try again.</p>"']
    status: {code: 401, message: UNAUTHORIZED}
version: 1
