{% extends "templates/participant.html" %}
{% block scripts %}
    {% if user.ADMIN %}<script src="{{ website.asset_url }}/admin.js"></script>{% endif %}
    <script>$(document).ready(Gratipay.tips.init)</script>
    <script>$(document).ready(function() {
      $('#goal-custom').on('click change', function() {
        $('#goal-yes').attr('checked', true)
      })
    })</script>
{% endblock %}

{% block heading %}<h1>{{ hero }}</h1>{% endblock %}

{% block nav %}
    {% set current_page = path.raw.split('/')[2] %}
    {% if user.participant == participant or user.ADMIN %}
        {% set pages = [
            ('/', _('Profile')),
            ('/giving/', _('Giving')),
            ('/history/', _('History')),
            ('/widgets/', _('Widgets')),
            ('/account/', _('Account')),
        ] %}
        <ul>
            {% for slug, name in pages %}
            <li{% if slug.strip('/') == current_page %} class="selected"{% endif %}><a href="/{{ participant.username }}{{ slug }}">{{ _(name) }}</a></li>
            {% endfor %}
            <li{% if 'members' == current_page %} class="selected"{% endif %}{% if not participant.show_as_team(user) %} class="hidden"{% endif %}><a href="/{{ participant.username }}/members/" id="members-button">{{ _('Members') }}</a></li>
            {% if user.ADMIN %}
            <li{% if 'events' == current_page %} class="selected"{% endif %}><a href="/{{ participant.username }}/events/">Events</a></li>
            {% endif %}
        </ul>
    {% elif participant.show_as_team(user) %}
        <ul>
            <li{% if '' == current_page %} class="selected"{% endif %}><a href="/{{ participant.username }}/">{{ _('Profile') }}</a></li>
            <li{% if 'members' == current_page %} class="selected"{% endif %}><a href="/{{ participant.username }}/members/">{{ _('Members') }}</a></li>
    {% endif %}
{% endblock %}
